<section class="parallax cover-div" style="background-image: url(/assets/lnw.jpg); background-size: 110%; background-position: 62.2364802933089% 21.11824%;">       
	<div class="  sep-top-2x sep-bottom-1x">
		<div class="container">
			<div class="text-center sep-bottom-md">
				<div class="section-title light">
					<h3 class="upper">On-Campus Activities</h3>
				</div>
			</div>			
		</div>
	</div>
</section>
<div id="lectures" class="link_div_lg"></div>
			
<section id="sellforcash" class="sep-top-2x sep-bottom-2x">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="section-title">
					<h2 class="bordered-left upper">Lectures</h2>
					<p class="lead" style="text-align:justify;">The section organizes a series of open lectures exclusively for the first year students (no registration required). The course content is mainly focused on providing a very strong foundation for the students with a perfect blend of theory and hands on experience. The students are taught the basics of Mechanism design, Drives and Electronics. All lectures are conducted by our team members only and once the lecture is conducted it will be available for download on login.</p>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-6 lectures">
				<p id="download_msg"></p>
				<div data-wow-delay="1s" class="icon-box icon-lg icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
					<h5 class="lec1">Lecture 1: Introduction to Robotics</h5><span> Sep 7, 2015 | </span><span><a href="/download/?lecture=l1.pdf" target="_blank">Download</a></span>
				</div>
				<div data-wow-delay="1s" class="icon-box icon-lg icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
					<h5>Lecture 2: Introduction to Sensors</h5><span> Sep 14, 2015 | </span><span><a href="/download/?lecture=l2.pptx" target="_blank">Download</a></span>
				</div>
				<div data-wow-delay="1s" class="icon-box icon-lg icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
					<h5>Lecture 3: Mechanical Aspects of Robotics-1</h5><span> Sep 21, 2015 | </span><span><a href="/download/?lecture=l3.pptx" target="_blank">Download</a></span>
				</div>
				<div data-wow-delay="1s" class="icon-box icon-lg icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
					<h5>Lecture 4: Mechanical Aspects of Robotics-2</h5><span> Sep 28, 2015 | </span><span><a href="/download/?lecture=l4.pptx" target="_blank">Download</a></span>
				</div>
				<div data-wow-delay="1s" class="icon-box icon-lg icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
					<h5>Lecture 5: Electronic Aspects of Robotics</h5><span> Oct 5, 2015 | </span><span><a href="/download/?lecture=l5.pdf" target="_blank">Download</a></span>
				</div>
				<div data-wow-delay="1s" class="icon-box icon-lg icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
					<h5>Lecture 6: Inroduction to Microcontroller</h5><span> Oct 12, 2015 | </span><span><a href="/download/?lecture=l6.pptx" target="_blank">Download</a></span>
				</div>
				<div id="workshops"></div>
				<div data-wow-delay="1s" class="icon-box icon-lg icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
					<h5>Lecture 7: Line Following Bot</h5><span> Oct 19, 2015 | </span><span><a href="/download/?lecture=l7.pdf" target="_blank">Download</a></span>
				</div>
			</div>	 
		</div>
	</div>
</section>

<!-- workshops -->
<section id="smartexchange" class="sep-bottom-2x">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="section-title">
					<h2 class="bordered-left upper">Workshops</h2>
					<p class="lead" style="text-align:justify;">Just the lectures don’t help the cause of imparting technical knowledge to students therefore we carried out following workshops on different areas so that the students have the practical knowledge of the things they are learning. Each workshop continues the whole day (working hours) so students can manage there time accordingly. All workshops are taken by our team members only.</p>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-7">
				<div data-wow-delay="1s" class="icon-box icon-lg sep-top-md icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
					<div class="icon-content img-circle"><span class="glyphicon glyphicon-tower"></span></i></div>
					<div class="icon-box-content">
						<h5>SolidWorks Workshop</h5>
						<p>Nearly all the features like sketch, boss and cut, fillets and chamfers, dimnsions, mating, etc are covered in this workshop which are required to be a Certified SOLIDWORKS Associate (CSWA).</p>
					</div>
				</div>
				<div data-wow-delay="1s" class="icon-box icon-lg sep-top-md icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
					<div class="icon-content img-circle"><span class="glyphicon glyphicon-resize-vertical"></span></div>
					<div class="icon-box-content">
						<h5>Line Following Robot Workshop</h5>
						<p>The line following workshop focused on complete fabrication of the bot along with connections and programming, wire connections and programming.</p>
					</div>
				</div>
				<div data-wow-delay="1s" class="icon-box icon-lg sep-top-md icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
					<div class="icon-content img-circle"><span class="glyphicon glyphicon-wrench"></span></div>
					<div class="icon-box-content">
						<h5>Workshop on Manual Robot</h5>
						<p>A workshop dedicated to the display and working of Manual robots where students get a chance to operate the bots.</p>
					</div>
				</div>
				<div data-wow-delay="1s" class="icon-box icon-lg sep-top-md icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
					<div class="icon-content img-circle"><span class="glyphicon glyphicon-volume-up"></span></div>
					<div class="icon-box-content">
						<h5>Workshop on Sensors and other components</h5>
						<p>This workshop aims to make the students aware of the different types of sensors like IR sensor, bump sensor, accelerometer, gyro meter, ultrasonic sensor etc, that are used by robots to accomplish various tasks.</p>
					</div>
				</div>
		 </div>
		</div>
	</div>
</section>
