<section class="parallax cover-div" style="background-image: url(/assets/contact3.jpg); background-size: 110%; background-position: 62.2364802933089% 28.11824%;">       
	<div class="  sep-top-2x sep-bottom-1x">
		<div class="container">
			<div class="text-center sep-bottom-md">
				<div class="section-title light">
					<h3 class="upper">Get in touch</h3>
				</div>
			</div>			
		</div>
	</div>
</section>
			
<section id="smartexchange" class="sep-top-2x sep-bottom-2x">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="section-title">
					<h5 class="bordered-left upper">Alumni</h5>
					<ul>
						<li>Jairaj Phase</li>
						<li>Dipak Shinde</li>
						<li>Nikhil Jain</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="section-title">
					<h5 class="bordered-left upper">Fouth year</h5>
					<ul>
						<li>Nitish Garg<br />(Chair person, +91-82 66 802254)</li>
						<li>Shashank Maurya<br />(Technical Head)</li>
						<li>Piyush Gupta<br />(Spokesperson)</li>
						<li>Amol Shah<br />(Vice-Chairperson)</li>
						<li>Osin Tyagi<br />(Treasurer)</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="section-title">
					<h5 class="bordered-left upper">Third year</h5>
					<ul>
						<li>Vaibhav Goel<br />(Secretary, +91-90 58 884196)</li>
						<li>Mrinaal Narang<br />(Joint-Secretary)</li>
						<li>Aayush Sable<br />(Mentorship Manager)</li>
						<li>Abishek GR<br />(Zonal Representive)</li>
						<li>Abhishek Garg<br />(Project Manager)</li>
						<li>Dhruv Pachauri<br />(Programming Incharge)</li>
						<li>Raghav Aggiwal<br />(Programming Incharge)</li>
						<li>Himanshu Chettiar<br />(Event Manager)</li>
						<li>Vini Sehgal<br />(Event Manager)</li>
						<li>Yagya Sharma<br />(Marketing Manager)</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="section-title">
					<h5 class="bordered-left upper">Second year</h5>
					<ul>
						<li>Prabh Pal Singh</li>
						<li>Kshitij Tiwari</li>
						<li>Mukul Goyal</li>
						<li>Mallikarjun Komma</li>
						<li>Ravi Kumar</li>
						<li>Sahil Jindal</li>
						<li>Saumay Gupta</li>
						<li>Vishal Singh</li>
						<li>Saumya Ranjan</li>
						<li>Sidharth Goel</li>
						<li>Aishwarya Mittal</li>
						<li>Swabhiman Patnaik</li>
						<li>Shobhit Mittal</li>
						<li>Kshitija Saharan</li>
						<li>Shrishti Khatole</li>
						<li>Apoorva Singh</li>
						<li>Nikita Kusumakar</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>