<section class="parallax cover-div" style="background-image: url(/assets/contact3.jpg); background-size: 110%; background-position: 62.2364802933089% 28.11824%;">       
	<div class="  sep-top-2x sep-bottom-1x">
		<div class="container">
			<div class="text-center sep-bottom-md">
				<div class="section-title light">
					<h3 class="upper">Get in touch</h3>
				</div>
			</div>			
		</div>
	</div>
</section>
			
<section id="smartexchange" class="sep-top-2x sep-bottom-2x">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="section-title">
					<h5 class="bordered-left upper">Alumni</h5>
					<ul>
						<li>Jairaj Phase</li>
						<li>Dipak Shinde</li>
						<li>Nikhil Jain</li>
						<li>Nitish Garg</li>
						<li>Shashank Maurya</li>
						<li>Piyush Gupta</li>
						<li>Amol Shah</li>
						<li>Osin Tyagi</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="section-title">
					<h5 class="bordered-left upper">Fouth year</h5>
					<ul>
						<li>Vaibhav Goel<br />(Chairperson)</li>
						<li>Mrinaal Narang<br /> (Vice-Chairperson)</li>
						<li>Abishek GR<br />(Spokesperson)</li>
						<li>Aayush Sable<br />(Mentorship Manager)</li>
						<li>Abhishek Garg<br />(Technical Head)</li>
						<li>Nikhil Kr Soni<br/> (Treasurer) </li>
						
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="section-title">
					<h5 class="bordered-left upper">Third year</h5>
					<ul>
						<li>Saumay Gupta <br/><b>(Secretary)</b><br /> +91-90 58 884196</li>
						<li>Sahil Jindal <br /> (Joint Secretary)</li>
						<li>Mukul Goyal <br /> (Joint Secretary)</li>
						<li>Swabhiman Patnaik <br/> (Project Manager)</li>
						<li>Shobhit Mittal <br/> (Project Manager)</li>
						<li>Kshitij Tiwari <br /> (Event Manager) </li>
						<li>Mallikarjun Komma <br /> (Event Manager)</li>
						<li>Saumya Ranjan <br /> (Zonal Promotions Head)</li>
						<li>Sidharth Goel <br/> (Mentorship Incharge)</li>
						<li>Nikita Kusumakar <br/> (Mentorship Incharge)</li>
						<li>Aishwarya Mittal <br/> (Web Developer)</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="section-title">
					<h5 class="bordered-left upper">Second year</h5>
					<ul>
						<li>Rishabh Sharma</li>
						<li>Gaurav Singh Ranawat</li>
						<li>Ashutosh Dubey</li>
						<li>Utkarsh Verma</li>
						<li>Apoorv Valabh</li>
						<li>Prajjval Pundeer</li>
						<li>Prateek Chandra Pandey</li>
						<li>Abhishek jain</li>
						<li>Vibhu Baibhav</li>
						<li>Nikhil Arya</li>
						<li>Samarth Garg</li>
						<li>Dheeraj Buddhiraja</li>
						<li>Sunil Saini</li>
						<li>Nitin Kumar Mange</li>
						<li>Aditya Peshin</li>
						<li>Mansi Khare</li>
						<li>Apurva</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>