<section class="parallax cover-div" style="background-image: url(/assets/events.jpg); background-size: 110%; background-position: 62.2364802933089% 28.11824%;">       
	<div class="  sep-top-2x sep-bottom-1x">
		<div class="container">
			<div class="text-center sep-bottom-md">
				<div class="section-title light">
					<h3 class="upper">Events Organised</h3>
				</div>
			</div>			
		</div>
	</div>
</section>

<div id="organised" style="margin-top:80px;"></div>
<section id="sellforcash" class="sep-bottom-2x">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="section-title">
					<h2 class="bordered-left upper">Events</h2>
					<p class="lead" style="text-align:justify;">We organise several events through out the year.</p>
				</div>
				<div><img src="/assets/industrial_trip.jpg" style="width:100%; margin-top: 15px;"></div>
			</div>
			<div class="col-md-offset-1 col-md-6">
				
					<div data-wow-delay="1s" class="icon-box icon-lg sep-top-md icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
						<div class="icon-content img-circle"><span class="glyphicon glyphicon-ok"></span></i></div>
						<div class="icon-box-content">
						<h5>Industrial Visit</h5>
						<p>We organized an industrial visit to ITC Limited and
							Hero Motocorp, Haridwar plant for first year students.It was a good learning experience for 1st year students.</p>
						</div>
					</div>

					<div data-wow-delay="1s" class="icon-box icon-lg sep-top-md icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
						<div class="icon-content img-circle"><span class="glyphicon glyphicon-ok"></span></i></div>
					<div class="icon-box-content">
							<h5>Entrepreneurship Talk</h5>
							<p>We conducted an entrepreneurship talk aiming to encourage and educate students on how to
								launch their own start-ups.</p>
							</div>
					</div>
				<div data-wow-delay="1s" class="icon-box icon-lg sep-top-md icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
					<div class="icon-content img-circle"><span class="glyphicon glyphicon-ok"></span></i></div>
					<div class="icon-box-content">
						<h5>On Spot Events</h5>
						<p>To make a better interaction with first yearites we organise some on the spot events.</p>
					</div>
				</div>
				</div> 
		</div>
	</div>
</section>

		<!--  -->
