<section class="parallax cover-div" style="background-image: url(/assets/contact3.jpg); background-size: 110%; background-position: 62.2364802933089% 28.11824%;">       
	<div class="  sep-top-2x sep-bottom-1x">
		<div class="container">
			<div class="text-center sep-bottom-md">
				<div class="section-title light">
					<h3 class="upper">ASME IITR Gallery</h3>
				</div>
			</div>			
		</div>
	</div>
</section>
			
<section id="smartexchange" class="sep-top-2x sep-bottom-2x">
	
</section>