<section class="parallax cover-div" style="background-image: url(/assets/events.jpg); background-size: 110%; background-position: 62.2364802933089% 28.11824%;">       
	<div class="  sep-top-2x sep-bottom-1x">
		<div class="container">
			<div class="text-center sep-bottom-md">
				<div class="section-title light">
					<h3 class="upper">Our Involvements</h3>
				</div>
			</div>			
		</div>
	</div>
</section>

<section id="smartexchange" class="sep-top-2x sep-bottom-2x">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="section-title">
					<h2 class="bordered-left upper">Involvements</h2>
					<p class="lead" style="text-align:justify;"></p>
				</div>
				<div><img src="/assets/involment.jpg" style="width:100%; margin-top: 15px;"></div>
			</div>
			<div class="col-md-offset-1 col-md-6">
				
					<div data-wow-delay="1s" class="icon-box icon-lg sep-top-md icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
						<div class="icon-content img-circle"><span class="glyphicon glyphicon-ok"></span></i></div>
						<div class="icon-box-content">
						<h5>SPDC 2016, Vellor</h5>
						<p>We participated in SPDC 2016 held in V.I.T University and won in various events such as oral guard technical
							poster presentation. We also attended various workshops that were very
							helpful.</p>
						</div>
					</div>

					<div data-wow-delay="1s" class="icon-box icon-lg sep-top-md icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
						<div class="icon-content img-circle"><span class="glyphicon glyphicon-ok"></span></i></div>
					<div class="icon-box-content">
							<h5>Cognizance 2016,IITR</h5>
							<p>We participated in four major events of Robotics in
								Cognizance 2016 and won
								3rd prize in “Cyborg-Break-in” competition</p>
							</div>
					</div>
				<div data-wow-delay="1s" class="icon-box icon-lg sep-top-md icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
					<div class="icon-content img-circle"><span class="glyphicon glyphicon-ok"></span></div>
					<div class="icon-box-content">
						<h5>SPDC 2015, Rajkot</h5>
						<p>We participated in various events organised under SPDC like Student Design Competition, Technical Poster Presentation, etc.</p>
					</div>
				</div>
				<div data-wow-delay="1s" class="icon-box icon-lg sep-top-md icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
					<div class="icon-content img-circle"><span class="glyphicon glyphicon-ok"></span></i></div>
					<div class="icon-box-content">
						<h5>SLTC Conference 2014, Canada</h5>
						<p>An international conference held every year in Canada. Our zonal representative of ASME student section Piyush Gupta (IIIyr Mech.) participated in last year conference.</p>
					</div>
				</div>
				
			<!-- 	<div data-wow-delay="1s" class="icon-box icon-lg sep-top-md icon-gradient " style="visibility: visible; -webkit-animation-delay: 1s;">
					<div class="icon-content img-circle"><span class="glyphicon glyphicon-ok"></span></div>
					<div class="icon-box-content">
						<h5>Cognizance, IITR</h5>
						<p>Our team participate every year in various robotics events like Cyborg Breakin, Robosapiens, etc. which are organised during Cognizance, The Annual Technical Festival of IIT Roorkee.</p>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</section>


<!--  -->
