<div class="copyright sep-top-xs sep-bottom-xs">
	<div class="container">
		<div class="row">
			<div class="col-md-6" style="margin-top: 1%;">
			<small>
			<a href="/contact-us">CONTACT ZONAL REPREZENTATIVE</a> | 
			<a href="/about">ABOUT</a> | 
			<a href="/team">TEAM</a> | 
			<a href="https://www.asme.org">ASME.ORG</a>
			</small>
			</div>
			<div class="col-md-6 mobhide" style="margin-top: 1%;"><small style="float:right;">All rights reserved</small></div>
		</div>
	</div>
</div>
</div>
